@font-face {
  font-family: "Kai Ti";
  src: url("/FangZhengKaiTiJianTi.ttf");
}

html,body {
  padding: 0;
  margin: 0;
  font-family: 'KaiTi';
}

.tabs a {
  padding: 0.25em 0.5em;
}

.tixuqiu {
  background-color: #eee;
}

.navbar-item img {
  max-height: 108px;
}

.navbar-item {
  font-size: 36px;
}

.char_fallback {
  width: 800px;
  height: 800px;
  line-height: 800px;
  margin: -800px auto 0 auto;
  font-size: 720px;
  font-family: cursive;
}

.btn_animate {
  font-size: 64px;
}

.table {
  font-size: 60px;
  font-family: cursive;
}

.table th, #pianpang_table td {
  padding: 0.25em;
}

.is_hidden {
  display: none!important;
}