@font-face {
  font-family: "Kai Ti";
  src: url("/FangZhengKaiTiJianTi.ttf");
}

html,body {
  padding: 0;
  margin: 0;
}

.tabs a {
  padding: 0.25em 0.5em;
}

.tixuqiu {
  background-color: #eee;
}

.navbar-item img {
  max-height: 108px;
}

.navbar-item {
  font-size: 36px;
}

.btn_animate {
  font-size: 64px;
}

.table {
  font-size: 60px;
  font-family: "Kai Ti";
}

.table th, #pianpang_table td {
  padding: 0.25em;
}

.is_hidden {
  display: none!important;
}